<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Teste Socket.io</h1>
    <input type="text" id="input">
    <hr>
    <h4>Server's result</h4>
    <p id="result"></p>
    <button onclick="enviar()">Enviar</button>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
        integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
        crossorigin="anonymous"></script>
        <script>
            var socket = io("http://localhost:3000")
            socket.on("disconnect",()=>{
                console.log("disconnect")
            })
            socket.emit("OK",{nome: "OK"})

            socket.on("result", data=>{
                var pElement = document.getElementById('result')
                pElement.innerHTML = data
            })

            function enviar(){
                var inputValue = document.getElementById("input").value
                socket.emit("word",input.value)
            }
        </script>
</body>
</html>